table{
margin-left:auto;
margin-right:auto;
}
textarea{
display: circle;
margin-bottom: 12px;
margin-left:auto;
margin-right:auto;
border-radius: 7px;
}
button{
height: 50px;
width: 50px;
}
#opac{
opacity: 0.25;
height: 19px;
width: 87px;
margin: auto;
}
body {
}

